.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.box {
  background-color: #ddd;
  padding: 20px 40px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.heading {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}

.buttonBox {
  background-color: #ddd;
  padding: 10px 20px;
  border-radius: 10px;
}

.button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}